html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
/*    width: 30px;
    height: 30px;*/
    padding: 0px;
    margin: 0px;
    background-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    flex: auto;
    height: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex: auto;
    height: 100%;
}

.gridContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    width: 960px;
    height: 885px;
}

.hoverEffect {
    background-color: skyblue;
    border-color: skyblue;
}